<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings>
    <!-- <add key="server.url" value="http://localhost:5000" /> -->
    <add key="server.url" value="http://192.168.1.20:80" />
    <add key="netsdk.dir" value="dhnetsdk" />
    <add key="nvr.connect.time.ms" value="5000" />
    <add key="nvr.keeplife.time.sec" value="10" />
    <add key="nvr.detect.time.sec" value="30" />
    <add key="alert.before.sec" value="70" />
    <add key="alert.after.sec" value="70" />
    <!-- <add key="client.type" value="view" />--> 
    <add key="client.type" value="stand:bks" />
    <add key="client.type.view.label" value="Стенд Наблюдения" />
    <add key="client.type.view.0" value="29, 30, 0, 31, 32, 33, 24, 25, 26, 27, 0, 28, 20, 21, 22, 23, 16, 17, 12, 13, 14, 15, 18, 19, 5, 7, 8, 9, 10, 11, 1, 2, 3, 0, 4, 6 " />
    <add key="client.type.bks.label" value="Большой Каватационный Стенд (БКС)" />
    <add key="client.type.bks.0" value="29, 30, 0, 31, 32, 33, 24, 25, 26, 27, 0, 28, 20, 21, 22, 23, 16, 17, 12, 13, 14, 15, 18, 19, 5, 7, 8, 9, 10, 11, 1, 2, 3, 0, 4, 6 " />
    <add key="client.type.bks.1" value="31, 32, 26, 3, 2, 1, 4, 6, 16" />
    <add key="client.type.bks.2" value="31, 32, 26, 18, 19, 17, 4, 6, 16" />
    <add key="client.type.bks.3" value="31, 32, 26, 3, 2, 1, 4, 6, 16" />
    <add key="client.type.mks.label" value="Малый Каватационный Стенд (МКС)" />
    <add key="client.type.mks.0" value="29, 30, 0, 31, 32, 33, 24, 25, 26, 27, 0, 28, 20, 21, 22, 23, 16, 17, 12, 13, 14, 15, 18, 19, 5, 7, 8, 9, 10, 11, 1, 2, 3, 0, 4, 6 " />
    <add key="client.type.mks.1" value="29, 30, 15, 12, 14, 13, 25, 24, 16" />
    <add key="client.type.mks.2" value="29, 30, 15, 12, 16, 17, 18, 19, 24" />
    <add key="client.type.mks.3" value="29, 30, 15, 12, 14, 13, 25, 24, 16" />
    <add key="client.type.kes.label" value="Каватационно-Энергетический Стенд (КЭС)" />
    <add key="client.type.kes.0" value="29, 30, 0, 31, 32, 33, 24, 25, 26, 27, 0, 28, 20, 21, 22, 23, 16, 17, 12, 13, 14, 15, 18, 19, 5, 7, 8, 9, 10, 11, 1, 2, 3, 0, 4, 6 " />
    <add key="client.type.kes.1" value="9, 5, 28, 8, 10, 33, 7, 11, 27" />
    <add key="client.type.kes.2" value="28, 8, 17, 33, 7, 18, 9, 16, 19" />
    <add key="client.type.kes.3" value="28, 5, 9, 33, 10, 8, 27, 11, 16" />
  </appSettings>
  <userSettings>
    <Properties.Settings>
      <setting name="StandMode" serializeAs="String">
        <value>Mode1</value>
      </setting>
      <setting name="id" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </Properties.Settings>
  </userSettings>
</configuration>