<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8"
            maxArchiveFiles="30"
            archiveAboveSize="10240000"
            archiveEvery="Day"/>

    <target name="console" xsi:type="RichTextBox"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${exception:format=ToString}"
            width="2048"
            height="800"
            allowAccessoryFormCreation="true"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>